@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.homeBtn {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 0 60px;
    transition: 0.3s;
    border-radius: 20px;
    width: 350px;
    height: 50px;
}

.home{
    display: flex;
    justify-self: center;
}

.homeBtn:hover{
    background-color: rgba(163, 163, 163, 0.171) ;
}


body {
    font-family: Arial, sans-serif;
    background-color: #151418;
    
    color: #fff;
    padding: 40px;
}

/* ---- CARDS ---- */
.cards-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 280px;
    height: 340px;
    background: rgba(2, 13, 63, 0.356);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 12px;
    padding:5px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    margin: 50px;
}

.card img {
    width: 100%;
    height: 328px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    border: solid rgb(255, 255, 255) 1px;
    
}

.card:hover {
    transform: scale(1.05);
    background: rgba(236, 205, 65, 0.15);
}

/* ---- MODAL ---- */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

.modal-content {
    background: #fff;
    color: #000;
    width: 60%;
    margin: 10% auto;
    padding: 20px;
    border-radius: 12px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
    color: #000;
}

.top-header {
    text-align: center;
    padding: 10px 20px;
    color: #ffffff;
    max-width: 900px;
    margin: 0 auto;
}

.intro-title {
    padding-bottom: 40px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 35px;
    opacity: 0.95;
}

.divider {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
}

.divider span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff; /* troque pela cor do fundo do site */
    padding: 0 15px;
    font-size: 1.3rem;
    letter-spacing: 3px;
    font-weight: 700;
    color: #000000;
}